/* CSS code for mobile devices */
@media only screen and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgb(234, 230, 230);
    }

    /* nav of the page here */
    .parent-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        background-color: purple;
        color: white;
    }

    .parent-container h1 {
        text-align: center;
        margin-bottom: 2vh;
        font-size: 2rem;
    }

    .tophead {
        margin-top: 2vh;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    form > input,label {
        flex-basis: 50%;
        padding: 0 15px;
        box-sizing: border-box;
    }


    form input[type=text],
    form input[type=number] {
        /* width: 10% !important; */
        /* take full width */
        margin-bottom: 0.5rem;
        /* add some margin between inputs */
    }

    form input[type=button] {
        margin-top: 1rem;
    }

    form input[type=button] {
        width: 8%;
        margin-top: 1rem;
        margin-left: 7rem;
        border-radius: 5px;
        background-color: white;
        border: none;
        color: black;
        padding: 0.5vh 2vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.0rem;
        cursor: pointer;
      }

    /* Table style starts here */
    .table-container {
        margin-top: 45vh;
        margin-bottom: 10vh;
    }

    table,
    th,
    td {
        border: 2px solid black;
    }

    th {
        height: 5vh;
        font-size: 1.5rem;
    }

    td {
        height: 3vh;
        font-size: 1.5rem;
        text-align: center;
    }

    table {
        width: 70vw;
        border-collapse: collapse;
    }

    .center {
        margin: 4vh auto 0;
    }


    /* delete and create button style*/
    .button-container {
        position: static;
        bottom: 0;
        right: 0;
        margin: 2vh;
        margin-left: 35vw;
    }

    .button-container button {
        display: inline-block;
        padding: 1vh 0.75vw;
        margin-right: 0.1vw;
        background-color: red;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.1rem;
    }

    #btn3 {
        background-color: #4CAF50;
        /* Change to the color of your choice */
        color: white;
    }

    /* fixing the header and footer styles */
    tfoot,
    thead {
        background-color: #000000;
        color: #ffffff;
    }

    thead th:nth-child(1) {
        border-right: 1px solid white;
    }

    thead th:nth-child(2) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(3) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(4) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(5) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(6) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

}








/*      //////////////////////////////////////////////////////// */








@media only screen and (min-width:769px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgb(234, 230, 230);
    }

    /* nav of the page here */
    .parent-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
        background-color: purple;
        color: white;
    }

    .parent-container h1 {
        text-align: center;
        margin-bottom: 2vh;
        font-size: 2rem;
    }

    .tophead {
        margin-top: 2vh;
    }

    form label {
        font-size: 1.5rem;
        /* adjust the value as per your requirement */
    }

    form input[type=text],
    form input[type=number] {
        width: 10vw;
        /* adjust the value as per your requirement */
        height: 3vh;
        /* adjust the value as per your requirement */
        font-size: 1.2rem;
    }

    form input[type=button] {
        background-color: white;
        border: none;
        color: black;
        padding: .50vh 1vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.0rem;
        margin: 1vh;
        cursor: pointer;
        border-radius: 5px;
    }


    /* Table style starts here */
    .table-container {
        margin-top: 25vh;
        margin-bottom: 8vh;
    }

    table,
    th,
    td {
        border: 2px solid black;
    }

    th {
        height: 5vh;
        font-size: 1.5rem;
    }

    td {
        height: 3vh;
        font-size: 1.5rem;
        text-align: center;
    }

    table {
        width: 70vw;
        border-collapse: collapse;
    }

    .center {
        margin: 4vh auto 0;
    }


    /* delete and create button style*/
    .button-container {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 2vh;
    }

    .button-container button {
        display: inline-block;
        padding: 1vh 0.75vw;
        margin-right: 0.1vw;
        background-color: red;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.1rem;
    }

    #btn3 {
        background-color: #4CAF50;
        /* Change to the color of your choice */
        color: white;
    }

    /* fixing the header and footer styles */
    tfoot,
    thead {
        background-color: #000000;
        color: #ffffff;
    }

    thead th:nth-child(1) {
        border-right: 1px solid white;
    }

    thead th:nth-child(2) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(3) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(4) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(5) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    thead th:nth-child(6) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

}
